/*-----------
RESET
-----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*------------------
     GENERAL-RULES
   -----------------*/
    header{
        background-color:#ff6a00ff ;
        color: #fff;
        padding: 20px 0;
    }

   .container{
    max-width: 1000px;
    margin: auto;
   }

   .display-col{
     display: flex;
     gap: 20px;
   }

   .column{
    width: calc( 100% / 3);
   }

   ul{
    list-style: none;
   }

   a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
   }

   /*---------------
      HEADER
    --------*/

    header{
        position: sticky;
        top: 0;
    }

    header .link , .icon{
      width: 25%;
    }

    .link li{
        display: flex;
        gap: 10px;
    }

    header .link{
        display: flex;
        align-items: center;
    }

    header .logo{
        max-width: 50%;
        text-align: center;

    }

    header .logo> img{
        max-width: 30%;
    }
    
    header .icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }