/*-----------
RESET
-----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*------------------
     GENERAL-RULES
   -----------------*/
    header{
        background-color:#ff6a00ff ;
        color: #fff;
        padding: 20px 0;
        position: sticky;
        top: 0;
        z-index: 2;
    }

   .container{
    max-width: 1000px;
    margin: auto;
    
   }

   .display-col{
     display: flex;
     gap: 10px;
   }

   .column{
    width: calc( 100% / 3);
   }

   ul{
    list-style: none;
   }

   a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    
   }

   .img-fluid{
    max-width: 100%;
   }

   section{
    padding:40px 0;
   }

   .col-img{
    position: relative;
   }

   span{
    font-size: 12px;
   }

   /*---------------
      HEADER
    --------*/


    header .link , .icon{
      width: 25%;
    }

    .link li{
        display: flex;
        gap: 10px;
    }

    .link a {
        font-weight: bold;
    }

    header .link{
        display: flex;
        align-items: center;
    }

    header .logo{
        max-width: 50%;
        text-align: center;

    }

    header .logo> img{
        max-width: 30%;
    }
    
    header .icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

     /*---------------
      MAIN
    --------*/


     .discount{
        position: absolute;
        bottom: 50px;
        background-color: red;
        color: #fff;
        padding: 2px 4px;
     }

     .green{
        position: absolute;
        bottom: 50px;
        left: 35px;
        background-color: green;
        color: #fff;
        padding: 2px 4px;
     }

     #banner{
        position: absolute;
        bottom: 50px;
        left: 0px;
        background-color: green;
        color: #fff;
        padding: 2px 4px;
     }
     

     .fa-solid.fa-heart{
        position: absolute;
        top: 5px;
        right: 0;
        background-color: #fff;
        padding: 8px 8px;
     }

     .details> h6{
        font-weight: lighter;
     }

     .details .now-price{
        font-weight: bold;
        color: red;
     }

     .details .before-price{
        text-decoration: line-through;
     }

     .img-default{
        display: block;
     }

     .img-hover{
        display: none;
       

     }

     .col-img:hover .img-hover{
        display:block;
     }
    
     .col-img:hover .img-default{
        display:none;
     }

     /*---------------
         FOOTER
     --------*/
     footer{
        background-color: #1a1a1a;
        padding: 100px 0;
        color: #fff;
     }

     footer> .container{
        justify-content: space-between;
     }

     .footer-left> h4{
        font-weight: bold;
        padding-bottom: 10px;
     }

     .footer-left a{
        font-size: 14px;
        padding-right: 5px;
     }

     .footer-right{
        text-align: center;

     }

     .footer-right h5{
        padding-bottom:10px;
     }

     .footer-right i{
        padding-right: 2px;
     }